/* body -> .login-and-signup-body */
/* style_optimized.css 파일로 이동하겠습니다.  */
/* login.vue랑 signup.vue 가장 바깥에 <div>태그로 감싸고 클래스 .login-and-signup-body 입혀주세요. */
/* input 태그들 login-and-signup-input 으로 클래스명 지정해주세요*/
.login-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-primary-strong);
}

#title {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  color: black;
  font-weight: 500;
}

form {
  padding: 30px 0 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-items > label {
  font-size: 14px;
  color: var(--color-dark-strong);
}

.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 38px;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-links {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.option-links > a {
  color: var(--color-gray);
  text-decoration: none;
  font-size: 12px;
}

.option-links > a:hover {
  color: var(--color-dark-strong);
}

.option-links > span {
  color: var(--color-gray);
  margin: 0 15px;
  font-size: 12px;
}

.sns-login {
  margin-top: 35px;
  font-size: 13px;
  color: var(--color-light-gray);
  width: 100%;
  display: flex;
  align-items: center;
}

.sns-login > div {
  height: 0.5px;
  width: 100%;
  background-color: var(--color-light-gray);
}

.sns-login > span {
  margin: 0 14px;
}

.sns-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sns-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
