/* body -> .login-and-signup-body */
/* style_optimized.css 파일로 이동하겠습니다.  */
/* login.vue랑 signup.vue 가장 바깥에 <div>태그로 감싸고 클래스 .login-and-signup-body 입혀주세요. */
/* input 태그들 login-and-signup-input 으로 클래스명 지정해주세요*/
#signup-body {
  height: fit-content;
  overflow-y: scroll;
}

.signup-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.signup-type-select-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-primary-strong);
}

#title {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  color: black;
  font-weight: 500;
}

form {
  padding: 30px 0 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-items > label {
  font-size: 14px;
  color: var(--color-dark-strong);
}

.form-items > .label-sup {
  font-size: 12px;
  margin-top: 3px;
  color: var(--color-gray);
}

.button-styles {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

#email-cert-button {
  border: 0.5px solid var(--color-light-gray);
  margin-top: 5px;
  background-color: #f7f8fa;
  color: var(--color-light-gray);
}

.message-style {
  font-size: 12px;
  margin-top: 3px;
  display: none;
}

#cert-guide-message,
#unusable-nickname-message {
  color: var(--color-primary);
}

#usable-nickname-message {
  color: var(--color-dark-strong);
}

.signup-button {
  width: 100%;
  padding: 12px;
  margin-top: 38px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
}

#social-signup-guide {
  color: var(--color-dark-strong);
  font-size: 13px;
}

.social-signup-types {
  margin-top: 50px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-signup-types > div {
  position: relative;
  border-radius: 2px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.social-signup-types img {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 18px;
}

#google,
#common-signup {
  border: 1px solid var(--color-light-gray);
  color: var(--color-dark-strong);
}

#google:hover,
#common-signup:hover {
  background-color: #f3f3f3;
}

#kakao {
  color: #3f1010;
  background-color: #eeda46;
}

#kakao:hover {
  background-color: #dfcd3f;
}

#kakao > img {
  margin-left: 3px;
}

#naver {
  color: white;
  background-color: #5ed03e;
}

#naver:hover {
  background-color: #54bd37;
}

#naver > img {
  margin-top: -2px;
  margin-left: 2px;
  width: 16px;
}

.partition {
  margin: 35px 0;
  font-size: 13px;
  color: var(--color-light-gray);
  width: 100%;
  display: flex;
  align-items: center;
}

.partition > div {
  height: 0.5px;
  width: 100%;
  background-color: var(--color-light-gray);
}

.partition > span {
  margin: 0 14px;
}

#common-signup {
  border-radius: 2px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.option-link {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.option-link > a {
  color: var(--color-gray);
  margin-left: 8px;
}

.option-link > a:hover {
  color: var(--color-dark-strong);
}
