/* 색상, 여백, 폰트 등 공통 스타일을 변수 정의해놓은 파일 */

:root {
    --red-500: #E14345;
    --red-500-hover: #D63823;
    --red-700: #AB282D;
    --black-300: #D9D8D8;
    --black-500: #8F8C90;
    --black-700: #424242;

    --color-primary: var(--red-500);
    --color-primary-dark: var(--red-500-hover);
    --color-primary-strong: var(--red-700);
    --color-light-gray: var(--black-300);
    --color-gray: var(--black-500);
    --color-dark-strong: var(--black-700);
}